body {
	background-color: lightslategrey;
	color: mintcream;
	max-width: 65e;
	padding-inline-start: 150px;
	m;
	}
h1 {font-family: sans-serif;font-weight: 100;padding-inline-start: 260px;}
h2{font-weight: 100}
p{font-family: sans-serif;/* font-size: large; */}
h3{font-weight: 100;padding-inline-start: 50px;}{}
ul{font-family: sans-serif}
