body {
	background-color: lightcoral;
	color: cornsilk;
	max-width: 65e;
	margin-right: 20em;margin-left: 20em
	}
h1 {font-family: sans-serif;font-weight: 100;padding-inline-start: 260px;font-size: 5em}
h2{font-weight: 100;font-size: 3em}
p{font-family: sans-serif;/* font-size: large; */}
h3{font-weight: 100;padding-inline-start: 50px;font-size: 2em}{}
ul{font-family: sans-serif}
